server {
    listen {{ httpd_port }} default_server;
    listen [::]:{{ httpd_port }} default_server;
    root {{ www_root }};
    server_name _;
    #location / {
    #        try_files $uri $uri/ =404;
    #}
    location / {
        #proxy_pass http://127.0.0.1:{{ app_port }};
        proxy_pass http://unix:/home/{{ uuser }}/{{ app_name }}/{{ app_name }}.sock;
        #proxy_pass http://unix:/var/run/{{ app_name }}.sock;
    }
    access_log /home/{{ uuser }}/{{ app_name }}/log/nginx.access.log;
    error_log  /home/{{ uuser }}/{{ app_name }}/log/nginx.error.log info;
}
