[program:mysql]
command = /usr/sbin/mysqld_safe
directory = /var/lib
user = mysql
autostart=true
autorestart=true
stderr_logfile=/home/{{ uuser }}/{{ app_name }}/log/mysql_sv_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/home/{{ uuser }}/{{ app_name }}/log/mysql_ss_stdout.log
stdout_logfile_maxbytes=10MB
