[program:webapp]
command = /home/{{ uuser }}/{{ app_name }}/env/bin/gunicorn --workers 3 --bind unix:{{ app_name }}.sock -m 000 wsgi:{{ app_name }} --access-logfile /home/{{ uuser }}/{{ app_name }}/log/gunicorn.access.log
directory = /home/{{ uuser }}/{{ app_name }}
user = {{ uuser }}
autostart=true
autorestart=true
stderr_logfile=/home/{{ uuser }}/{{ app_name }}/log/{{ app_name }}_sv_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/home/{{ uuser }}/{{ app_name }}/log/{{ app_name }}_ss_stdout.log
stdout_logfile_maxbytes=10MB
redirect_stderr = true
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
