[Unit]
Description=Gunicorn instance for {{ app_name }}
After=network.target

[Service]
User={{ uuser }}
Group=www-data
WorkingDirectory=/home/{{ uuser }}/{{ app_name }}
Environment="PATH=/home/{{ uuser }}/{{ app_name }}/env/bin"
ExecStart=/home/{{ uuser }}/{{ app_name }}/env/bin/gunicorn --workers 3 --bind unix:{{ app_name }}.sock -m 000 wsgi:{{ app_name }}

[Install]
WantedBy=multi-user.target
